<h1>ログインページ</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

<%# f.labelはform_withで使えるメソッドで<label>タグを生成 %>
<%= f.label :メールアドレス %>
<%= f.email_field :email %>
<%= f.label :パスワード %>
<%= f.password_field :password %>
<%= f.submit "ログイン" %>
<% end %>