<!DOCTYPE html>
<html>

<head>
  <title>SessionLogin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%# Flashメッセージをヘッダーに表示させる %>
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%# グローバルナビゲーションの作成 %>
  <header>
    <nav>
      <% if logged_in? %>
        <%# ログイン済みの場合のメニュー %>
        <ul>
          <li><%= link_to "タスク一覧", tasks_path, id: "tasks-index" %></li>
          <li><%= link_to "タスクを登録する", new_task_path, id: "new-task" %></li>
          <li><%= link_to "アカウント", user_path(current_user), id: "my-account" %></li>
          <li><%= link_to "ログアウト", session_path(current_user), method: :delete, id: "sign-out" %></li>
        </ul>
      <% else %>
        <%# 未ログインの場合のメニュー %>
        <ul>
          <li><%= link_to "アカウント登録", new_user_path, id: "sign-up" %></li>
          <li><%= link_to "ログイン", new_session_path, id: "sign-in" %></li>
        </ul>
      <% end %>
    </nav>
  </header>

  <%= yield %>
</body>

</html>
